html,
body {
  margin: 5px;
  padding: 0;
}

/* .box {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
} */

.input-euro {
  position: relative;
}
.input-euro.left input {
  padding-left: 18px;
}
.input-euro.right input {
  padding-right: 18px;
  text-align: end;
}

.input-euro:before {
  position: absolute;
  top: 0;
  content: "€";
}
.input-euro.left:before {
  left: 5px;
}
.input-euro.right:before {
  right: 5px;
}
